<%= javascript_include_tag "tweet.js" %>
<div class="container">
  <div class="text-center my-4">
    <%= render 'error_messages'%>
    <%= form_for @tweet do |f| %>
    <div class="field">
      <h4>画像</h4>
      <%= f.file_field :img, id: "file" %><br>
      <img id="file-preview"><br>
    </div><br>

    <div class="field">
      <h4>呟き</h4>
      <%= f.text_field :tweet, class: "tweet" %>
    </div></br>

    <%= f.submit "投稿" %>
  </div>
</div>

<% end %>