<div class="container">
  <div class="text-center my-4">
    <img src=<%= "#{@tweet.img}" %>>
    <h5 class="card-title"><%=link_to "#{@tweet.user.name}", user_path(@tweet.user.id), method: :get, class: "EDITLink" %><h5>
        <p><%= "#{@tweet.tweet}" %></p>
        <% if user_signed_in? && @tweet.user_id==current_user.id %>
        <%= button_to "削除する", tweet_path(@tweet.id), method: :delete, data: {confirm: "削除しますか？"}, class: "btn btn-danger" %>
        <% end %><br>

        <p>コメント</p>
        <div class="row">
          <% @tweet.comments.each do |c| %>
          <div class="col-sm-3">
            <%= link_to  "#{c.user.name}", user_path(c.user.id), method: :get, class: "EDITLink" %>
          </div>
          <div class="col-sm-3">
            <p><%= c.content %></p>
          </div>
          <div class="col-sm-3">
            <% if user_signed_in? && c.user_id==current_user.id %>
            <%= button_to "削除する", tweet_comment_path(c), method: :delete, class: "btn btn-danger btn-sm", data: { confirm: '削除しますか？' } %>
            <% end %>
          </div>
          <div class="col-sm-3">
            <p><%= c.created_at.strftime('%Y年%m月%d日') %></p>
          </div>
          <% end %>
        </div>

        <% if user_signed_in? %>
        <%= form_for [@tweet, @comment] do |f| %>
        <%= f.text_field :content %>
        <%= f.submit "コメントする", class: "btn btn-primary" %>
        <% end %>
        <% end %><br>
  </div>
</div>