<div class="container">
  <div class="text-center my-4">
    <%= image_tag  "#{@tweet.img}" %>
    <h5 class="card-title"><br>
      <% if @tweet.user.thumbnail.blank? %>
      <%= image_tag "top/thumbnail_default.jpg" %>
      <% else %>
      <%= image_tag  @tweet.user.thumbnail.url(:thumb) %>
      <% end %>
      <%=link_to "#{@tweet.user.name}", user_path(@tweet.user.id), method: :get, class: "EDITLink" %><h5>
        <p><%= "#{@tweet.tweet}" %></p>
        <% if user_signed_in? && @tweet.user_id==current_user.id %>
        <%= button_to "削除する", tweet_path(@tweet.id), method: :delete, data: {confirm: "削除しますか？"}, class: "btn btn-danger" %>
        <% end %><br>
        <%= render  "comments" %>
  </div>
</div>