<div class="container">
  <div class="text-center my-4">
    <%= image_tag "#{@user.thumbnail}" %>
    <h2>ユーザー名:<%= "#{@user.name}" %></h2>
    <h3>自己紹介:<%= "#{@user.introduction}" %></h3><br>
    <div id="follow">
      <%= link_to following_user_path(@user.id) do %>
      <h5 style="color: black;">フォロー:<%= @user.following.count %></h5>
      <% end %>
    </div>
    <div id="follower">
      <%= link_to followers_user_path(@user.id) do %>
      <h5 style="color: black;">フォロワー:<%= @user.followers.count %></h5>
      <% end %>
    </div>
    <div>
      <%= render "users/follow_shared/follow_form" %>
    </div><br>

    <h1>投稿一覧</h1>
    <div class="row">
      <% @tweet.each do |t| %>
      <div class=" card-deck col-sm-4">
        <div class="card my-3" style="width: 18rem">
          <img src=<%= "#{t.img}" %> class="card-img-top">
          <div class="card-body">
            <p><%= "#{t.tweet}" %></p>
            <p><%= link_to  "詳細", tweet_path(t), method: :get, class: "btn btn-primary" %></p>
            <p><%= t.created_at.strftime('%Y年%m月%d日') %></p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <%= paginate @tweet %>
  </div>
</div>