<div class="container">
  <div class="text-center my-4">
    <%= image_tag "#{@user.thumbnail}" %>
    <h2>ユーザー名:<%= "#{@user.name}" %></h2>
    <h3>自己紹介:<%= "#{@user.introduction}" %></h3><br>
    <h1>投稿一覧</h1>
    <% @user.tweets.each do |u| %>
    <div class=" card-deck col-sm-4">
      <div class="card my-3" style="width: 18rem">
        <img src=<%= "#{u.img}" %> class="card-img-top">
        <div class="card-body">
          <p><%= "#{u.tweet}" %></p>
          <%= link_to  "詳細", tweet_path(u), method: :get, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>