<div class="container">
  <div class="text-center my-4">
    <%= image_tag "#{@user.thumbnail}" %>
    <h2>ユーザー名:<%= "#{@user.name}" %></h2>
    <h3>自己紹介:<%= "#{@user.introduction}" %></h3>

    <div id="follow">
      <h5><%= link_to "フォロー:#{@user.following.count}", following_user_path(@user), class: "EDITLink"%></h5>
    </div>
    <div id="follower">
      <h5><%= link_to "フォロワー:#{@user.followers.count}", followers_user_path(@user), class: "EDITLink"%></h5>
    </div>
    <div>
      <%= render "users/follow_shared/follow_form" %>
    </div><br>

    <h1>投稿一覧</h1>
    <div class="row">
      <% @tweet.each do |t| %>
      <div class=" card-deck col-sm-4">
        <div class="card my-3" style="width: 18rem">
          <%= image_tag  "#{t.img}", class: "card-img-top" %>
          <div class="card-body">
            <h5><%= "#{t.tweet}" %></h5>
            <p><%= link_to  "詳細", tweet_path(t), method: :get, class: "btn btn-primary" %></p>
            <h5><%= t.created_at.strftime('%Y年%m月%d日') %></h5>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <%= paginate @tweet %>
  </div>
</div>