<%= javascript_include_tag "tweet.js" %>
<div class="container">
  <div class="text-center my-4">
    <%= render 'error_messages'%>
    <%= form_for current_user, url: {action: 'profile_update'} do |f| %>

    <div class="field">
      <h4><%= f.label :thumbnail %></h4>
      <%= f.file_field :thumbnail, id: "file" %><br>
      <img id="file-preview">
    </div><br>

    <div class="field">
      <h4><%= f.label :name %></h4>
      <%= f.text_field :name %>
    </div><br>

    <div class="field">
      <h4><%= f.label :introduction %></h4>
      <%= f.text_field :introduction, class: "introduction" %>
    </div><br>

    <div class="actions">
      <%= f.submit "更新" %>
    </div>
    <% end %>

    <%= link_to  "パスワード、アドレスを変更する", edit_user_registration_path %>
  </div>
</div>